<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProveCV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-brand">
            <a href="{{ url_for('index') }}">ProveCV</a>
        </div>
        <div class="nav-links">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('my_resumes') }}">My Resumes</a>
                <a href="{{ url_for('create') }}">Create Resume</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.signup') }}">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="alert">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; ProveCV. All rights reserved.Made with love by <a href="https://github.com/mossad054">Michael Ndungu </p>
    </footer>
</body>
</html> 