{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Your Resumes</h1>
    <ul>
        {% for resume in resumes %}
            <li>
                <a href="{{ url_for('resume.view', resume_id=resume.id) }}">{{ resume.name }}</a>
                <a href="{{ url_for('resume.edit', resume_id=resume.id) }}">Edit</a>
                <a href="{{ url_for('resume.download', resume_id=resume.id) }}">Download</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
