{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Choose a Template</h2>
    <div class="template-grid">
        {% for template in templates %}
        <div class="template-card">
            <img src="{{ url_for('static', filename='images/templates/' + template.name + '.png') }}" 
                 alt="{{ template.name }}">
            <h3>{{ template.name }}</h3>
            <a href="{{ url_for('resume.create_resume', template_name=template.name) }}" 
               class="btn btn-primary">Use This Template</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
